<div class="jumbotron">
  <h1>Login</h1>
  <p class="lead">
    <img src="images/login.png" alt="login"><br>
  </p>
  <i><h2>Mind The Note</h2></i><br>
  <p>Username: <input type="text" name="input" ng-model="username" required ng-trim="false"></p>
  <p>Password: <input type="password" name="input" ng-model="password" require ng-trim="false"></p>
  <p><a class="btn btn-lg btn-success" ng-click="submit(username, password)">Submit<span class="glyphicon glyphicon-ok"></span></a></p>
  <p style="color:red;" ng-if="login">Incorrect Login</p>
</div>
